<h3 class="ml-90">{{ title }}</h3>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mt-2">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" *ngFor="let art of arrayArticles" (click)="selectArticle(art)" [class.active]="art == selectedArticle" >
              <span class="badge badge-success">{{art.code}}</span>
              {{art.description}} - {{art.price}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card mt-2">
        <div class="card-header">
          New Article
        </div>
        <div class="card-body">
          <div class="form-group row">
            <input type="text" placeholder="Description" class="form-control" [(ngModel)]="selectedArticle.description" >
          </div>
          <div class="form-group row">
            <input type="text" placeholder="Price" class="form-control" [(ngModel)]="selectedArticle.price" >
          </div>
          <button class="btn btn-outline-success" (click)="addOrEdit()" >Submit</button>
          <button class="btn btn-outline-danger" (click)="delete()" *ngIf="selectedArticle.code != udefined" >Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

